version: "3.8"
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - VITE_API_BASE_URL=${VITE_API_BASE_URL:-http://ec2-54-147-56-151.compute-1.amazonaws.com}
      - VITE_API_PORT=${VITE_API_PORT:-8080}
    env_file:
      - .env
    command: ["npm", "run", "dev"]
